h2 {
  margin-top: 32px;
  display: block;
  text-align: center;
  font-size: xx-large;
  color: #5c6bc0;
}

input {
  margin-top: 32px;
  font-size: 20px;
  padding: 10px;
  display: block;
  width: 50%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

button {
  margin-top: 32px;
  margin-left: 10px;
  padding: 10px 20px;
  font-size: 20px;
  width: 20%;
  text-align: center;
  margin-left: 40%;
  margin-right: 40%;
  background-color: white;
}

button:hover {
  background-color: #5c6bc0;
  color: white;
}

div {
  margin-top: 32px;
  font-size: 20px;
  display: block;
  text-align: center;
}
