h2 {
    margin-top: 20px;
  }
  input {
    margin-top: 20px;
    font-size: 20px;
    padding: 10px;
  }
  button {
    margin-top: 20px;
    margin-left: 10px;
    padding: 10px 20px;
    font-size: 20px;
  }
  div {
    margin-top: 20px;
    font-size: 20px;
  }