<div class="background">
    <h1 class="title">
        A totally original idea with a totally original name!
    </h1>
    
    <div class="content">
        With the help of Triolingo, you will be able to learn any 
        language you wish... as long as you are a native English speaker
        who wishes to learn Romanian!
        Learn from numerous(?) lessons which will teach you the very VERY basics
        of the Romanian language.
    </div>
    <img class="logo" src="/assets/mascota2.png">
</div>
