.lesson-container {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 15%;  
}
  
  .lesson {
    width: 80%;
    text-align: center;
    background-color: #5c6bc0;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    margin-bottom: 20px;
  }
  
  .lesson-icon {
    font-size: 48px;
    margin-bottom: 20px;
  }
  
  li {
    display: block;
    border: 1px solid #ccc;
    margin-bottom: 10px;
  }
  